
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

  }

  html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  }

  body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.6rem;
    background: linear-gradient(to right, #42275a , #000428 );
    color: #fff;
    cursor: default;
  }

  h1,h2,h3,h4,h5,h6,button {
  font-family: 'Space Grotesk', sans-serif
  }

  a {
  text-decoration: none;
  }

  li{
  list-style: none;
  }

;

